<div class="row" *ngIf="categories$ | async as categories; else loader">
    <div class="col s3">
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <div class="header bold">Категорії товарів</div>
            <hr class="hr1">
            <li class="bold" *ngFor="let category of categories" routerLinkActive="active">
                <a [routerLink]="['/category', category._id]" class="waves-effect waves-orange">{{category.name}}
                    <a class=" black-text secondary-content">
                        <i class="name material-icons">keyboard_arrow_right</i></a>
                </a>
            </li>
            <li class="bold" routerLinkActive="active">
                <a [routerLink]="['/category/promo']" class="promotions waves-effect waves-orange">Акції
                    <a class="promotions secondary-content">
                        <i class="name material-icons">keyboard_arrow_right</i></a>
                </a>
            </li>
            <li>
                <div class="carousel">
                    <app-carousel></app-carousel>
                </div>
            </li>
        </ul>


    </div>
</div>



<ng-template #loader>
    <app-loader></app-loader>
</ng-template>