.bold {
    font-weight: 500;
    color: black;
    width: 100%;
    outline: none;
}

.collection {
    cursor: pointer;
}

.menu {
    pointer-events: none;
    font-size: calc(7px + .5vw);
}

.name {
    font-size: calc(7px + .5vw);
}

.categories {
    margin-top: 18px;
    margin-left: 0;
}

.promotions {
    color: #f57c00;
}

.sidenav {
    position: absolute;
    margin-top: 82px;
    margin-left: 5px;
    height: auto;
    width: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    color: #0097a7;
    margin-left: 32px;
    height: 30px;
    margin-top: 12px;
}

.hr1 {
    height: 1px;
    border: none;
    color: rgba(163, 163, 163, 0.986);
    background: linear-gradient(45deg, rgb(192, 190, 190), #ddd);
}

.hr2 {
    margin: -50px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #b6b4b2;
    box-shadow: 0 20px 20px -20px rgb(85, 84, 84);
    width: 95%;
}

.loader {
    margin-left: 30%;
}

.parent {
    position: relative;
    height: 220px;
    margin-left: -17px;
}

.carousel {
    position: relative;
    width: 280px;
    margin: auto;
}