<div class="row container grey lighten-5 order-order center">
    <hr>
    <p class="blue-text cart">КОШИК</p>
    <hr>
    <div *ngFor="let position of cart; let i = index">
        <table class="table-cart centered mt4">
            <thead>
                <tr *ngIf="i == 0 ">
                    <th class="image"></th>
                    <th class="name name-align">Назва</th>
                    <th class="quantity">Кількість</th>
                    <th>Ціна</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="image"><img class="img activator " src={{position.imageSrc}}></td>
                    <td class="name name-align">{{position.name}}</td>
                    <td class="quantity">
                        <div class="quant">{{position.orderQuantity}}</div>
                    </td>
                    <td *ngIf="position.groupPages === main" class="name">
                        {{position.cost}} грн
                    </td>
                    <td *ngIf="position.groupPages === promo" class="name">
                        {{position.promoCost}} грн
                    </td>
                    <td class="name">
                        <button class="btn btn-small red" (click)="delete(position)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cart-bottom container">
        <div class="left total right"><span>Загальна сума замовлення: {{totalCost}} грн </span></div>
        <div class="left">
            <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat mb2">
                Повернутися до покупок
            </button>
            <button class=" btn cyan darken-2  waves-effect btn-small mb2" type="submit" [routerLink]="['/order']">
                Оформити замовлення
            </button>
        </div>
    </div>
</div>