.bold {
    font-weight: 500;
    color: black;
    width: 100%;
    outline: none;
}

.collection li {
    cursor: pointer;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}