.cart {
    color: #ffb74d;
    font-size: calc(16px + .5vw)
}

.brand-logo {
    font-size: calc(16px + .5vw);
}

.right {
    margin-right: 0.3%;
}

.bold {
    font-weight: 500;
}

.badge {
    font-size: calc(5px + .5vw);
    color: white;
    font-weight: 600;
    background-color: #e65100;
    margin-left: 0%;
    /* width: 50% !important;
    height: 50% !important; */
}

.auth {
    font-size: calc(8px + .5vw);
}

.menu {
    margin-left: 70px;
    cursor: pointer;
}

.header {
    margin-left: 32px;
    height: 30px;
    margin-top: 12px;
}

.header1 {
    margin-left: 32px;
    height: 45px;
    vertical-align: auto;
    font-weight: 600;
    margin-top: 3px;
}

.hr1 {
    height: 1px;
    border: none;
    color: rgba(163, 163, 163, 0.986);
    background: linear-gradient(45deg, rgb(192, 190, 190), #ddd);
}

.name {
    font-size: calc(7px + .5vw);
}

.promotions {
    color: #fd9902;
}

.phones {
    /* display: inline-block; */
    font-size: calc(8px + .5vw);
    font-weight: 500;
    margin-top: -10px;
    color: #4db6ac;
    margin-right: 10px;
}

.phone {
    height: 20px;
}