<div class="row" *ngIf="categories$ | async as categories; else loader">
    <!-- <div class="categories col s9 m3 l3">
        <div>
            <ul class="collection ">
                <li class="collection-item grey lighten-3 blue-text bold menu">Категорії товарів</li>
                <div class="active">
                    <li class="collection-item grey lighten-5 active category" *ngFor="let category of categories">
                        <div class="name bold waves-effect" [routerLink]="['categories', category._id]">
                            <a class=" black-text">{{category.name}}</a>
                            <a class=" black-text secondary-content">
                                <i class="name material-icons">keyboard_arrow_right</i></a>
                        </div>
                    </li>
                </div>

            </ul>
        </div>
        <div>
            <ul class="collection ">
                <li class="collection-item grey lighten-5">
                    <div class="name bold waves-effect"><i class="blue-text material-icons tiny">redeem</i>
                        <a class="promotions">Акції</a><i class="blue-text material-icons tiny">redeem</i>
                        <a class="promotions secondary-content">
                            <i class="name material-icons">keyboard_arrow_right</i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->

    <div class="col s3">
        <ul id="slide-out" class="sidenav sidenav-fixed" style="width: 25%">
            <div class="header blue-text bold">Категорії товарів</div>
            <hr class="hr1">
            <li class="bold" *ngFor="let category of categories" routerLinkActive="active">
                <a [routerLink]="['/category', category._id]" class="waves-effect waves-orange">{{category.name}}
                    <a class=" black-text secondary-content">
                        <i class="name material-icons">keyboard_arrow_right</i></a>
                </a>
            </li>
            <li class="bold">
                <a class="promotions waves-effect waves-orange">Акції
                    <a class="promotions secondary-content">
                        <i class="name material-icons">keyboard_arrow_right</i></a>
                </a>
            </li>
        </ul>
    </div>

    <div class="col s12 m12 l9 right">
        <div>
            <app-search-filter-form></app-search-filter-form>
        </div>

        <div *ngIf="!isSearch">
            <div *ngIf="!isBrand">
                <div *ngIf="isPrice">
                    <app-filtered-position-form [categoryId]="categories[0]._id"></app-filtered-position-form>
                </div>
                <div *ngIf="!isPrice">
                    <app-positions-form [categoryId]="categories[0]._id"></app-positions-form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>