.profile {
    color: #0097a7;
    font-size: 18px;
    font-weight: 600;
}

.order-form {
    margin-top: 20px;
    outline: 0.5px solid rgb(128, 128, 128);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}