<ng-container>
    <div class="row">
        <div class="search-filter col s12 m12 l9  right">
            <div class="search">
                <div class="row filter col s12 grey lighten-5">
                    <div class="col s3">
                        <div class="input-field">
                            <select (change)="sortingSelect($event)" #priceSelector>
                                <option value="" selected>вибір</option>
                                <option *ngFor="let position of sortPositionsMenu" [value]="position">
                                    {{position}}
                                </option>
                            </select>
                            <label>фільтр ціна</label>
                        </div>
                    </div>
                    <div class="col s3 h6">
                        <div class="input-field">
                            <select (change)="brandSelect($event)" #brandSelector>
                                <option value="" selected>вибір</option>
                                <option *ngFor="let brand of brandNameArr" [value]="brand">
                                    {{brand}}
                                </option>
                            </select>
                            <label>бренд</label>
                        </div>
                    </div>
                    <div class="input-field col s5">
                        <div>
                            <i class="search-icon material-icons prefix">search
                            </i>
                        </div>

                        <input id="icon_prefix2" type="text" class="validate" [minlength]="minLength" [(ngModel)]="searchStr" (ngModelChange)="searchHandleChange()">
                        <label class="search" for="icon_prefix2">Пошук...</label>
                        <span class="helper-text mb0" data-error="Мінімальна довжина слова 3 символи" data-success="Пошук..."></span>


                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div *ngIf="isFilter">
        <div class="row">
            <div class="center blue-text col s12 m12 l9  right">
                <span class="category">Результати пошуку</span>
            </div>
        </div>
        <div class="row card-width">
            <div class="col s12 m12 l9 right ">
                <div *ngFor="let position of foundPositions$ | async | filter: searchStr | paginate: {itemsPerPage: paginationStep,currentPage: p};" class="card col s12 m6 l4">
                    <div class="card-image waves-effect waves-block waves-light mb0">
                        <img class="img activator center-block" src={{position.imageSrc}}>
                    </div>
                    <div class="card-content">
                        <hr class="hr1">
                        <div class="card-title activator grey-text text-darken-4">
                            <div class="name truncate" [title]="position.name">{{position.name}}</div>
                        </div>
                        <hr class="hr1">
                        <div class="cost center mb4">{{position.cost}} грн</div>
                        <div *ngIf="position.quantity" class="availability center mt4">в наявності</div>
                        <div *ngIf="!position.quantity" class="availability blue-text center mt4">очікується</div>
                    </div>
                    <div class="card-action mt0 center-align" (click)="onSelectPosition(position)">
                        <button class="add waves-effect waves-light btn cyan darken-2" (click)="open()" [disabled]="!position.quantity"><i
                                class="addIcon material-icons ">shopping_cart</i></button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title text-size grey lighten-5 truncate">{{position.name}}<i
                                class="material-icons right">close</i></span>
                        <p>{{position.description}}</p>
                    </div>
                </div>
                <div class="col s12">
                    <style>
                        .my-pagination /deep/ .ngx-pagination .current {
                            background: #0097a7;
                        }
                    </style>
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="modal" #modal>
        <div *ngFor="let position of foundPositions$ | async">
            <div *ngIf="position._id == positionId">
                <div class="modal-content">
                    <div>Найменування товару: {{position.name}}</div>
                    <div>Ціна: {{position.cost}} UAH</div>
                    <input #quantityInput id="pos-quantity" type="number" value="1" [(ngModel)]="position.orderQuantity">
                    <label for="pos-quantity">Кількість</label>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat">
                        Скасувати
                    </button>
                    <button class="modal-action btn cyan darken-2  waves-effect btn-small" type="submit" (click)="addToCart(position)" [disabled]="!position.orderQuantity">
                        Додати в кошик
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>