<table class="highlight mb2">
    <thead>
        <tr>
            <th>№ заказа</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Сумма заказа</th>
            <th>Данные заказа</th>
            <th>Удалить заказ</th>
            <th>Выполнен</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>№Z1969{{order.order}}</td>
            <td>{{order.date | date:'dd.MM.yyyy'}}</td>
            <td>{{order.date | date:'HH:mm:ss'}}</td>
            <td>{{order.totalCost}} UAH</td>
            <td>
                <button class="btn btn-small grey darken-1" (click)="onSelectOrder(order)">
                    <i class="material-icons">open_in_new</i>
                </button>
            </td>
            <td>
                <button class="btn btn-small teal lighten-2 " (click)="onDeleteOrder($event, order)">
                    <i class="material-icons">delete</i>
                </button>
            </td>
            <td class="checkbox">
                <div *ngIf="!order.done">
                    <label>
                        <input type="checkbox" (click)="orderIsDone($event, order)" />
                        <span></span>
                    </label>
                </div>
                <div *ngIf="order.done">
                    <label>
                        <input type="checkbox" checked (click)="orderIsDone($event, order)" />
                        <span></span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<div class="modal " #modal>
    <div class="modal-content" *ngIf="selectedOrder">
        <h6 class="mb1">Заказ №Z1969{{selectedOrder.order}}</h6>
        <table class="card center-align">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of selectedOrder.cart">
                    <td>{{item.name}}</td>
                    <td>{{item.orderQuantity}}</td>
                    <td *ngIf="item.groupPages === main">{{item.cost}}</td>
                    <td *ngIf="item.groupPages === promo">{{item.promoCost}}</td>
                </tr>
            </tbody>
        </table>
        <table class="card">
            <thead>
                <tr>
                    <th>Доставка</th>
                    <th>Оплата</th>
                    <th>Область</th>
                    <th>Город</th>
                    <th>№ отд.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedOrder.delivery.deliveryName}}</td>
                    <td>{{selectedOrder.delivery.payment}}</td>
                    <td>{{selectedOrder.delivery.area}}</td>
                    <td>{{selectedOrder.delivery.city}}</td>
                    <td>{{selectedOrder.delivery.department}}</td>
                </tr>
            </tbody>
        </table>
        <table class="card">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedOrder.userData.firstName}}</td>
                    <td>{{selectedOrder.userData.secondName}}</td>
                    <td>{{selectedOrder.userData.phoneNumber}}</td>
                    <td>{{selectedOrder.userData.email}}</td>
                    <td>{{selectedOrder.userData.comment}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Общая сумма заказа:</td>
                    <td class="bold">{{selectedOrder.totalCost}} UAH</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn-small" (click)="closeModal()">
            Закрыть
        </button>
    </div>
</div>