<ng-container *ngIf="!isAuthAdmin">
    <nav class="nav-fixed">
        <div class="nav-wrapper  grey lighten-4 row col s12">
            <div class="col s2 left-align">
                <a [routerLink]="['/']" class="brand-logo left"><i class="material-icons">home</i></a>
                <a data-target="slide-out" class="sidenav-trigger left"><i
                        class="menu material-icons blue-text">menu</i></a>
            </div>

            <div class="col s10">
                <ul id="nav-mobile" class="right blue-grey-text ">
                    <li>
                        <a *ngIf="!total">
                            <i class="material-icons cart">shopping_cart</i>
                        </a>
                    </li>
                    <li>
                        <a *ngIf="total" [routerLink]="['/cart']">
                            <i class="material-icons cart">shopping_cart</i>
                        </a>
                    </li>
                    <li *ngIf="total">
                        <div class="badge-size">
                            <span class="badge tiny">
                                <div class="total">
                                    {{total}}
                                </div>
                            </span>
                        </div>
                    </li>
                    <ng-container *ngIf="!isAuth">
                        <li routerLinkActive="active">
                            <a class="auth bold " [routerLink]="['/login']">Вхід</a>
                        </li>
                        <li routerLinkActive="active">
                            <a class="auth right bold  " [routerLink]="['/register']">Реєстрація</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="isAuth">
                        <li routerLinkActive="active">
                            <a class="auth right bold  " [routerLink]="['/dashboard']">Профіль</a>
                        </li>
                        <li routerLinkActive="active">
                            <a class="auth right bold  " [routerLink]="['/']" (click)="logout()">Вихід</a>
                        </li>
                        <li class="profile">
                            <i class="material-icons 
                                ">account_circle</i>

                        </li>
                    </ng-container>

                </ul>
            </div>

        </div>
    </nav>

    <ul class="sidenav" id="slide-out" #sidenav>
        <div *ngIf="categories$ | async as categories; else loader">
            <li>
                <div class="header1 blue-text bold">Категорії товарів</div>
            </li>
            <hr class="hr1">
            <li class="bold" *ngFor="let category of categories" routerLinkActive="active" (click)="onCancel()">
                <a [routerLink]="['/category', category._id]" class="waves-effect waves-orange">{{category.name}}
                    <a class=" black-text secondary-content">
                        <i class="name material-icons">keyboard_arrow_right</i></a>
                </a>
            </li>
            <li class="bold" routerLinkActive="active" (click)="onCancel()">
                <a class="promotions waves-effect waves-orange" [routerLink]="['/category/promo']">Акції
                    <a class="promotions secondary-content">
                        <i class="name material-icons">keyboard_arrow_right</i></a>
                </a>
            </li>
        </div>
    </ul>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</ng-container>