<div class="card-width row" *ngIf="!loading; else loader">
    <div class="col s12 m12 l9 right">
        <div *ngIf="sortingSelected === ''">
            <div *ngIf="promoPositions$ | async as positions">
                <div *ngFor="let position of positions | paginate: {itemsPerPage: 6,currentPage: p};" class="card col s12 m6 l4 ">
                    <div class="card-image waves-effect waves-block waves-light mb0">
                        <img class="img-responsive" src="../../../../assets/akcia.png">
                        <img class="img activator center-block" src={{position.imageSrc}}>
                    </div>
                    <div class="card-content">
                        <hr class="hr1">
                        <div class="card-title activator grey-text text-darken-4">
                            <p class="name truncate" [title]="position.name">{{position.name}}</p>
                            <p></p>
                        </div>
                        <hr class="hr1">
                        <div class="cost center mb4">
                            <div class="promo-cost">{{position.cost}} </div>{{position.promoCost}} грн
                        </div>
                        <div *ngIf="position.quantity" class="availability center mt4">в наявності</div>
                        <div *ngIf="!position.quantity" class="availability blue-text center mt4">очікується</div>
                    </div>
                    <div class="card-action mt0 center-align" (click)="onSelectPosition(position)">
                        <button class="add waves-effect waves-light btn cyan darken-2" (click)="open()" [disabled]="!position.quantity"><i
                                class="addIcon material-icons ">shopping_cart</i></button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title text-size grey lighten-5 truncate">{{position.name}}<i
                                class="material-icons right">close</i></span>
                        <span class="description">{{position.description}}</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <style>
                    .my-pagination /deep/ .ngx-pagination .current {
                        background: #0097a7;
                    }
                </style>
                <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
<div class="card-width row" *ngIf="!loading; else loader">
    <div class="col s12 m12 l9 right">
        <div *ngIf="sortingSelected === increase">
            <div *ngIf="promoPositionsByInc$ | async as positions">
                <div *ngFor="let position of positions | paginate: {itemsPerPage: 6,currentPage: p};" class="card col s12 m6 l4">
                    <div class="card-image waves-effect waves-block waves-light mb0">
                        <img class="img-responsive" src="../../../../assets/akcia.png">
                        <img class="img activator center-block" src={{position.imageSrc}}>
                    </div>
                    <div class="card-content">
                        <hr class="hr1">
                        <div class="card-title activator grey-text text-darken-4">
                            <p class="name truncate" [title]="position.name">{{position.name}}</p>
                            <p></p>
                        </div>
                        <hr class="hr1">
                        <div class="cost center mb4">
                            <div class="promo-cost">{{position.cost}} </div>{{position.promoCost}} грн
                        </div>
                        <div *ngIf="position.quantity" class="availability  center mt4">в наявності</div>
                        <div *ngIf="!position.quantity" class="availability blue-text center mt4">очікується</div>
                    </div>
                    <div class="card-action mt0 center-align" (click)="onSelectPosition(position)">
                        <button class="add waves-effect waves-light btn cyan darken-2" (click)="open()" [disabled]="!position.quantity"><i
                                class="addIcon material-icons ">shopping_cart</i></button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title text-size grey lighten-5 truncate">{{position.name}}<i
                                class="material-icons right">close</i></span>
                        <span class="description">{{position.description}}</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <style>
                    .my-pagination /deep/ .ngx-pagination .current {
                        background: #0097a7;
                    }
                </style>
                <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>

<div class="card-width row" *ngIf="!loading; else loader">
    <div class="col s12 m12 l9 right">
        <div *ngIf="sortingSelected === decrease">
            <div *ngIf="promoPositionsByDec$ | async as positions">
                <div *ngFor="let position of positions | paginate: {itemsPerPage: paginationStep, currentPage: p};" class="card col s12 m6 l4">
                    <div class="card-image waves-effect waves-block waves-light mb0">
                        <img class="img-responsive" src="../../../../assets/akcia.png">
                        <img class="img activator center-block" src={{position.imageSrc}}>
                    </div>
                    <div class="card-content">
                        <hr class="hr1">
                        <div class="card-title activator grey-text text-darken-4">
                            <p class="name truncate" [title]="position.name">{{position.name}}</p>
                            <p></p>
                        </div>
                        <hr class="hr1">
                        <div class="cost center mb4">
                            <div class="promo-cost">{{position.cost}} </div>{{position.promoCost}} грн
                        </div>
                        <div *ngIf="position.quantity" class="availability  center mt4">в наявності</div>
                        <div *ngIf="!position.quantity" class="availability blue-text center mt4">очікується</div>
                    </div>
                    <div class="card-action mt0 center-align" (click)="onSelectPosition(position)">
                        <button class="add waves-effect waves-light btn cyan darken-2" (click)="open()" [disabled]="!position.quantity"><i
                                class="addIcon material-icons ">shopping_cart</i></button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title text-size grey lighten-5 truncate">{{position.name}}<i
                                class="material-icons right">close</i></span>
                        <span class="description">{{position.description}}</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <style>
                    .my-pagination /deep/ .ngx-pagination .current {
                        background: #0097a7;
                    }
                </style>
                <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
<ng-template #loader>
    <app-loader class="row col s9 right"></app-loader>
</ng-template>


<div class="modal" #modal>
    <div *ngIf="promoPositions$ | async as positions">
        <div *ngFor="let position of positions">
            <div *ngIf="position._id == positionId">
                <div class="modal-content">
                    <div>Найменування товару: {{position.name}}</div>
                    <div>Ціна: {{ position.promoCost}} UAH</div>
                    <input #quantityInput id="pos-quantity" type="number" [(ngModel)]="position.orderQuantity">
                    <label for="pos-quantity">Кількість</label>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat">
                            Скасувати
                        </button>

                        <button class="modal-action btn cyan darken-2  waves-effect btn-small" type="submit" (click)="addToCart(position)" [disabled]="!position.orderQuantity">
                            Додати в кошик
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>