<div class="auth-block">
    <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-content">
            <span class="card-title">Добавить администратора</span>
            <div class="input-field">
                <input formControlName="superAdminLogin" id="superAdminLogin" type="password" [ngClass]="{'invalid': f.superAdminLogin.invalid && f.superAdminLogin.touched}">
                <label for="superAdminLogin">Логин суперадмина:</label>
                <span class="helper-text red-text" *ngIf="f.superAdminLogin.invalid && f.superAdminLogin.touched">
                    <span *ngIf="f.superAdminLogin.errors?.required">Неверный логин суперадмина</span>
                </span>
            </div>
            <div class="input-field">
                <input formControlName="email" id="email" type="email" [ngClass]="{'invalid': f.email.invalid && f.email.touched}">
                <label for="email">Логин:</label>
                <span class="helper-text red-text" *ngIf="f.email.invalid && f.email.touched">
                    <span *ngIf="f.email.errors?.required">Поле Логин не должно быть пустым</span>
                <span *ngIf="f.email.errors?.minlength
                    && f.email.errors?.minlength.requiredLength">
                        Логин должен содержать более {{f.email.errors?.minlength.requiredLength}} символов.
                        Вы ввели {{f.email.errors?.minlength.actualLength}} символа(ов)
                    </span>
                </span>
            </div>
            <div class="input-field">
                <input formControlName="password" id="password" type="password" [ngClass]="{'invalid': f.password.invalid && f.password.touched}">
                <label for="password">Пароль:</label>
                <span class="helper-text red-text" *ngIf="f.password.invalid && f.password.touched">
                    <span *ngIf="f.password.errors?.required">Поле пароля не должно быть пустым</span>
                <span *ngIf="f.password.errors?.minlength
                     && f.password.errors?.minlength.requiredLength">
                        Пароль должен содержать более {{f.password.errors?.minlength.requiredLength}} символов.
                        Вы ввели {{f.password.errors?.minlength.actualLength}} символа(ов)
                    </span>
                </span>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">Добавить</button>
        </div>
    </form>
</div>