<footer class="page-footer grey lighten-3 ">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12">
                <h5 class="blue-text">Про нас</h5>
                <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="blue-text">Контакти</h5>
                <!-- <ul>
                    <li><a class="blue-text text-lighten-3" href="#!">Link 1</a></li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container white-text">
            © 2020 AcaCompany
            <a class="white-text text-lighten-4 right" href="#!">FB</a>
        </div>
    </div>
</footer>